@inherits LayoutComponentBase
@layout MainLayout

<Breadcrumbs />
<div id="service-details" class="service-details pt-4 pb-5">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-3 d-none d-lg-block">
                <nav class="service-box">
                    <h4>Экологическое проектирование</h4>
                    <div class="services-list pb-3">
                        <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Разработка ПДВ</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Проект СЗЗ</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Мероприятия при НМУ</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Разработка ПНООЛР</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Проект НДС</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Проект ЗСО</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Инвентаризация отходов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Инвентаризация выбросов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Инвентаризация сбросов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Расчет парниковых газов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Разработка КЭР</span></a>
                    </div>
                    <h4>Экологическая<br />отчетность</h4>
                    <div class="services-list pb-3">
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет ПЭК</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет 2-ТП Отходы</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет 2-ТП Воздух</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет 2-ТП Водхоз</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчёт 2-ТП рекультивация</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет по форме 4-ОС</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет по форме 4-ЛС</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет по парниковым газам</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчёты по формам 3.1, 3.2, 3,3</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчеты по формам 6.1, 6.2, 6.3</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Региональный кадастр отходов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет об использовании подземных вод</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет по выполнению условий водопользования</span></a>
                    </div>
                    <h4>Документация и сопровождение</h4>
                    <div class="services-list pb-3">
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Постановка на учет объектов НВОС</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Декларация о плате</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Паспорта отходов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Журнал образования и движения отходов</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Инструкции по обращению с отходами</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Оформление паспорта ГОУ</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Отчет по форме 4-ЛС</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Экологический аудит</span></a>
                        <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Расчет суммы экологического сборая</span></a>
                    </div>
                </nav><!-- End Services List -->

                <div class="service-box">
                    <h4>Скачать документ</h4>
                    <div class="download-catalog">
                        <a href="#"><i class="bi bi-filetype-pdf"></i><span>Прайс-лист</span></a>
                        <a href="#"><i class="bi bi-file-earmark-word"></i><span>Форма договора</span></a>
                        <a href="#"><i class="bi bi-filetype-pdf"></i><span>Реквизиты</span></a>
                        <a href="#"><i class="bi bi-file-earmark-word"></i><span>Коммерческое предложение</span></a>
                    </div>
                </div><!-- End Services List -->

                <aside class="help-box d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-headset help-icon"></i>
                    <h4>Have a Question?</h4>
                    <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
                    <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
                </aside>

            </div>
            @*Service Details Section*@
            <section class="col-lg-9 ps-lg-2">
                @Body
            </section>
            @*/Service Details Section*@
        </div>
    </div>
</div>

@code {

}
