@page "/пдв"
@page "/ндв"
@*Маршрут первой директивы page будет использован в канонической ссылке*@

@layout _LayoutService

@using Ecoplaza.Data
@using Microsoft.AspNetCore.Components

@inject IJSRuntime JSRuntime
@inject SubdomainService SubdomainService

<PageTitle>@($"Разработка ПДВ {CitiesService.Get("toponyms.in_dat", " (НДВ)")}")</PageTitle>

    <HeadContent>
        <meta name="description" content="Расчет нормативов допустимых выбросов (Проект ПДВ) - работаем по @(CitiesService.Get("toponyms.gen_sg_f", "всей России") + (SubdomainService.IsSubdomain ? " области" : "")). 📞 @ContactDataClass.PhoneShort()" />
        <meta name="keywords" content="ПДВ НДВ нормативы допустимых выбросов@(SubdomainService.IsSubdomain ? " " + CitiesService.Get("toponyms.nom") : "")" />
        @*<meta name="keywords" content="экологические услуги@(CitiesService.Get("toponyms.nom") is { Length: > 0 } nom ? $" {nom}" : "")" />*@
        <Canonical PageType="this.GetType()" />
    </HeadContent>


    
    
    
    <div class="service-page">
        @*<img src="assets/img/services.jpg" alt="" class="img-fluid services-img">*@
        <h1 class="mb-4">Разработка проекта ПДВ (нормативы допустимых выбросов)</h1>
        <p>Проект предельно допустимых выбросов (ПДВ) — это документ, который необходим предприятиям для соблюдения экологических норм и регламента выбросов загрязняющих веществ в атмосферу. Он обязателен для объектов 1 и 2 категории опасности и требуется для получения разрешений на эксплуатацию предприятий, связанных с выбросами в атмосферный воздух.</p>
        <p>Проект разрабатывается для контроля и снижения уровня выбросов, предотвращения штрафов и обеспечения безопасности окружающей среды. В документе содержится расчет допустимых объемов выбросов на основе технологических процессов предприятия, климатических условий и влияния на санитарно-защитную зону.</p>

        <h2 class="mt-5">Стоимость проекта ПДВ (НДВ)</h2>
        <p>Стоимость разработки ПДВ варьируется в зависимости от сложности объекта, количества стационарных и передвижных источников выбросов, а также от необходимости проведения замеров и расчетов рассеивания загрязняющих веществ. На цену также влияют потребности в согласовании проекта с государственными органами, такими как Роспотребнадзор.</p>
        <ul>
            <li>Стоимость разработки проекта ПДВ начинается от 80 000 рублей, однако для крупных предприятий с множеством источников выбросов стоимость может быть выше.</li>
            <li>Стоимость согласования и экспертизы проекта ПДВ обычно начинается от 40 000 рублей.</li>
        </ul>

        <h2 class="mt-5">Сроки разработки и действия ПДВ</h2>
        <ul>
            <li><i class="bi bi-check-circle"></i> <strong>Срок разработки</strong> проекта ПДВ — от 2 недель до 3 месяцев.</li>
            <li><i class="bi bi-check-circle"></i> <strong>Срок согласования</strong> проекта — 30 календарных дней.</li>
            <li><i class="bi bi-check-circle"></i> <strong>Срок действия проекта</strong> — 5 лет при условии отсутствия изменений в производственном процессе.</li>
        </ul>
        <p>Сроки разработки проекта ПДВ зависят от сложности объекта и количества источников выбросов. Основные этапы включают сбор исходных данных, инвентаризацию выбросов, расчеты и разработку нормативов ПДВ. После разработки проект подлежит обязательному согласованию с государственными органами.</p>

        <h2 class="mt-5">Согласование и экспертиза ПДВ</h2>
        <p>Проект ПДВ должен быть согласован с Роспотребнадзором и пройти обязательную экспертизу, чтобы подтвердить соответствие нормативам и требованиям законодательства. В процессе экспертизы проверяется точность расчетов выбросов, их воздействие на атмосферу, а также возможность снижения выбросов до допустимых уровней при неблагоприятных метеоусловиях.</p>

        <h2 class="mt-5">ПДВ для категорий предприятий</h2>
        <p>Разработка ПДВ обязательна для предприятий 1, 2 и 3 категории опасности в рамках закона № 96-ФЗ "Об охране атмосферного воздуха". Для предприятий 1 категории требуются дополнительные расчеты для веществ 1 и 2 класса опасности (канцерогены и мутагены). Предприятия 2 категории обязаны включать нормативы выбросов в декларацию воздействия на окружающую среду (ДВОС). Объекты 3 категории обязаны разрабатывать меры контроля выбросов.</p>

        <h2 class="mt-5">Содержание проекта ПДВ</h2>
        <p>Проект ПДВ включает в себя:</p>
        <ul>
            <li>Инвентаризацию всех источников выбросов на предприятии.</li>
            <li>Расчет концентраций загрязняющих веществ.</li>
            <li>Описание методов снижения выбросов при неблагоприятных метеоусловиях (НМУ).</li>
            <li>Прогноз влияния выбросов на окружающую среду и санитарно-защитную зону (СЗЗ).</li>
            <li>Мероприятия по контролю за выбросами и мониторингу.</li>
        </ul>

        <h2 class="mt-5">В каких случаях грозит штраф?</h2>
        <p>Штрафы за отсутствие утвержденного проекта ПДВ могут достигать 250 000 рублей. Предприятия, которые не ведут учет выбросов или нарушают установленные нормативы, могут быть подвергнуты административным мерам, вплоть до приостановки деятельности. Штрафы налагаются также за отсутствие мероприятий по снижению выбросов при НМУ и невыполнение условий экспертизы проекта.</p>

        <h2 class="mt-5">Нормативная база разработки ПДВ</h2>
        <p>Разработка ПДВ регулируется Федеральным законом № 96-ФЗ "Об охране атмосферного воздуха", а также рядом постановлений и приказов Министерства природных ресурсов и экологии РФ. Среди них — Приказ № 273 от 06.06.2017, регламентирующий методы расчета выбросов, и Приказ № 581 от 11.08.2020, устанавливающий требования к проекту.</p>
    </div>


    @code {

}
