<section class="breadcrumbs">
    <div class="container">
        <nav class="d-flex justify-content-between align-items-center">
            <h2>Проект ПДВ / НДВ</h2>

            <div class="subdivisions">
                <a href="проектирование" class="active">Проектирование</a>
                <a href="отчетность" class="">Отчетность</a>
                <a href="документация" class="">Документация</a>
            </div>

            <div aria-label="breadcrumb">
                <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="" itemprop="item">
                            <span itemprop="name">Главная</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="" itemprop="item">
                            <span itemprop="name">Услуги</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <strong itemprop="name">Проект ПДВ</strong>
                        <meta itemprop="position" content="3" />
                    </li>

                    <li class="nav-item dropdown">
                        <label class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Ещё</label>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">ПДВ для АЗС</a></li>
                            <li><a class="dropdown-item" href="">ПДВ для АТП</a></li>
                            <li><a class="dropdown-item" href="">ПДВ для котельной</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">ПДВ - пример</a></li>
                        </ul>
                    </li>

                </ol>
            </div>
        </nav>
    </div>
</section>

@code {

}
